<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Babcock Forums</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/forums">Forums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/threads/recent">Recent Discussions</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <% if (locals.user) { %>
                        <li class="nav-item">
                            <button id="themeToggle" class="btn btn-link nav-link" title="Switch to dark mode">
                                <i class="bi bi-moon"></i>
                            </button>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <%= user.username %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <% if (user.is_admin) { %>
                                    <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
                                <% } %>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                            </ul>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <button id="themeToggle" class="btn btn-link nav-link" title="Switch to dark mode">
                                <i class="bi bi-moon"></i>
                            </button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/register">Register</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header> 