# Environment variables
.env

# Dependencies
node_modules/

# Config files (except database.js)
config/*
!config/database.js

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# IDE/Editor folders
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Runtime data
pids
*.pid
*.seed
*.pid.lock

#doc
doc/
